basePath: /api/v1
host: localhost:8080
info:
  contact:
    name: API Support
  description: 这是模仿知乎的一个api服务
  license:
    name: Apache 2.0
    url: http://www.apache.org/license/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Go-Zhihu API
  version: "1.0"
paths: {}
swagger: "2.0"
